html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
body {
    line-height: 1
}
ol,
ul {
    list-style: none
}
blockquote,
q {
    quotes: none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
body {
    background: #fff
}
body,
input,
textarea {
    font-size: 16px
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400
}
strong,
b {
    font-weight: 700
}
em,
i {
    font-style: italic
}
pre {
    font: 16px Monaco, monospace;
    line-height: 1.5;
    margin-bottom: 1.5em
}
code {
    font: 16px Monaco, monospace
}
a {
    outline: 0
}
a img {
    border: none
}
img {
    -ms-interpolation-mode: bicubic
}
body,
html {
    height: 100%
}
input[type=text],
input[type=password],
textarea {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: inherit
}
textarea {
    resize: none
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
.clearfix {
    *zoom: 1
}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0
}
.clearfix:after {
    clear: both
}
.hide_text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}
.prevent-text-breakouts {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto
}
.no_highlight {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.pull_left {
    float: left
}
.pull_right {
    float: right
}
.clear {
    clear: both
}
.center_text {
    text-align: center
}
.hover_underline:hover {
    text-decoration: underline
}
.hide,
.hidden {
    display: none
}
.btn {
    border: none;
    font-family: inherit;
    outline: 0;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-appearance: none;
    cursor: pointer;
    text-decoration: none
}
.font-size-12 {
    font-size: 12px
}
.font-size-14 {
    font-size: 14px
}
.font-size-16 {
    font-size: 16px
}
.font-size-18 {
    font-size: 18px
}
.font-size-20 {
    font-size: 20px
}
.font-size-24 {
    font-size: 24px
}
.font-size-28 {
    font-size: 28px
}
.font-size-30 {
    font-size: 30px
}
.font-size-36 {
    font-size: 36px
}
.font-size-42 {
    font-size: 42px
}
.font-size-48 {
    font-size: 48px
}
.font-size-54 {
    font-size: 54px
}
.font-size-60 {
    font-size: 60px
}
.line-height-14 {
    line-height: 14px
}
.line-height-16 {
    line-height: 16px
}
.line-height-18 {
    line-height: 18px
}
.line-height-20 {
    line-height: 20px
}
.line-height-24 {
    line-height: 24px
}
.line-height-28 {
    line-height: 28px
}
.line-height-30 {
    line-height: 30px
}
.line-height-36 {
    line-height: 36px
}
.line-height-42 {
    line-height: 42px
}
.font-weight-light {
    font-weight: 200
}
.font-weight-medium {
    font-weight: 400
}
.font-weight-heavy {
    font-weight: 600
}
.text-left {
    text-align: left
}
.text-center {
    text-align: center
}
.text-right {
    text-align: right
}
a.hover_underline,
.fake_link.hover_underline {
    text-decoration: none
}
a.hover_underline:hover,
.fake_link.hover_underline:hover {
    text-decoration: underline
}
body {
    background: #fff;
    font-family: 'Chewy', cursive;
    font-size: 62.5%
}
.container {
    max-width: 1030px;
    padding: 0 30px;
    margin: 0 auto
}
.introduction {
    padding: 90px 0 120px;
    text-align: center;
    background: #2a2332 url(../images/oli-background.jpg) no-repeat top center;
    background-size: cover
}
.introduction h1 {
    font-size: 48px;
    color: #000;
    font-weight: 200;
    line-height: 48px;
    margin-bottom: 18px
}
.introduction p {
    font-size: 24px;
    font-weight: 200;
    color: rgba(255, 255, 255, .5)
}
.introduction .social_links {
    font-size: 24px;
    padding-top: 48px
}
.introduction .social_links a {
    text-decoration: none;
    color: #000;
    padding: 0 8px
}
.introduction .social_links li {
    display: inline-block;
    margin: 0 8px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out
}
.introduction .social_links li:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2)
}
@media screen and (max-width: 515px) {
    .introduction {
        padding-top: 60px;
        padding-bottom: 60px
    }
    .introduction h1 {
        font-size: 40px
    }
    .introduction p {
        font-size: 20px
    }
}
@media screen and (max-width: 390px) {
    .introduction h1 {
        font-size: 30px
    }
    .introduction p {
        font-size: 18px
    }
}
.instagram_scroller {
    width: 100%;
    height: 210px;
    position: relative;
    margin-top: 70px
}
.instagram_scroller .simply-scroll-clip {
    width: 100%;
    height: 210px;
    position: relative;
    overflow: hidden
}
#instagram_spinner {
    display: block;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    position: relative;
    top: 146px
}
@media screen and (max-width: 420px) {
    #instagram_spinner {
        top: 100px
    }
}
#instagram_list {
    height: 280px;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    position: relative
}
#instagram_list a {
    margin-right: 30px;
    vertical-align: top;
    display: block;
    width: 170px;
    height: 210px;
    float: left
}
#instagram_list a:hover img {
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1)
}
#instagram_list img {
    width: 170px;
    height: 170px;
    display: block;
    margin-top: 20px;
    border-radius: 4px;
    -webkit-transition: all 220ms ease-in-out;
    -moz-transition: all 220ms ease-in-out;
    -o-transition: all 220ms ease-in-out;
    transition: all 220ms ease-in-out
}
@media screen and (max-width: 420px) {
    .instagram_scroller {
        height: 170px;
        margin-top: 40px
    }
    .instagram_scroller .simply-scroll-clip {
        height: 170px
    }
    #instagram_list {
        height: 210px
    }
    #instagram_list a {
        width: 130px;
        height: 170px
    }
    #instagram_list img {
        width: 130px;
        height: 130px
    }
}
.project {
    font-size: 18px;
    line-height: 24px;
    color: #6b696e;
    font-weight: 200
}
.project a {
    text-decoration: none
}
.project .container {
    padding-top: 60px;
    padding-bottom: 60px
}
.project h2 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 42px
}
.project h2 a {
    -webkit-transition: all 220ms;
    -moz-transition: all 220ms;
    -o-transition: all 220ms;
    transition: all 220ms
}
.project .project_description {
    width: 38.1443299%;
    position: relative;
    z-index: 60
}
.project .project_description p {
    margin-bottom: 30px
}
.project .visit_link {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
    border-bottom: 1px solid transparent;
    padding-bottom: 2px;
    -webkit-transition: all 220ms ease-in-out;
    -moz-transition: all 220ms ease-in-out;
    -o-transition: all 220ms ease-in-out;
    transition: all 220ms ease-in-out
}
.project .ipad {
    width: 58.7628866%;
    float: left;
    position: relative;
    z-index: 30
}
.project .ipad img {
    display: block;
    margin-left: -40px;
    margin-top: -74px;
    width: 110.5263158%;
    height: auto
}
@media screen and (max-width: 870px) {
    .project .ipad {
        width: 100%;
        max-width: 550px;
        margin: 0 auto 42px;
        float: none
    }
    .project .ipad {
        max-width: 100%;
        text-align: center
    }
    .project .ipad img {
        margin-left: 0;
        max-width: 100%;
        width: auto;
        display: inline-block
    }
}
@media screen and (max-width: 420px) {
    .project .container {
        padding-left: 20px;
        padding-right: 20px
    }
}
@media screen and (max-width: 1269px) {
    section.current-projects .dribbble-projects-list a {
        width: 33.333333333%
    }
}
@media screen and (max-width: 540px) {
    section.current-projects h2 {
        font-size: 26px
    }
}
section.links {
    background: #261a31;
    padding: 100px 0
}
section.links h2 {
    font-size: 30px;
    color: #fff;
    line-height: 30px;
    margin-bottom: 42px;
    text-align: center
}
section.links ul {
    margin-left: -15px;
    margin-right: -15px
}
section.links li {
    width: 48.4536082%;
    float: left;
    margin: 0 0 30px;
    position: relative
}
section.links li:nth-child(2n+1) {
    margin-right: 3.0927835%
}
section.links li:hover:before {
    color: #F36341
}
section.links li:before {
    display: block;
    content: "\e2cf";
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    color: #10999e;
    width: 18px;
    height: 18px;
    font-size: 18px;
    top: 30px;
    left: 30px
}
section.links li a {
    display: block;
    padding: 30px;
    padding-left: 60px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #6b696e;
    font-size: 16px;
    line-height: 20px
}
section.links li a:hover h3 {
    color: #F36341
}
section.links li h3 {
    color: #10999e;
    font-size: 18px;
    margin-bottom: 6px
}
section.links li p {
    margin-bottom: 0
}
@media screen and (max-width: 700px) {
    section.links li {
        width: 100%;
        margin-bottom: 20px
    }
}
@media screen and (max-width: 420px) {
    section.links {
        padding-top: 60px;
        padding-bottom: 60px
    }
    section.links li a {
        padding: 20px;
        padding-left: 20px
    }
    section.links li:before {
        left: 20px;
        top: 20px
    }
    section.links h3 {
        padding-left: 26px
    }
}
section.work_together {
    background: #66527d;
    padding: 120px 0;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    text-align: center
}
section.work_together h2 {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 42px
}
section.work_together p {
    max-width: 530px;
    margin: 0 auto 42px
}
section.work_together .email_circle {
    display: block;
    margin: 0 auto 42px;
    width: 120px;
    height: 120px;
    background: #fff;
    border-radius: 120px;
    text-align: center;
    line-height: 120px;
    color: #66527d;
    text-decoration: none;
    -webkit-transition: all 220ms ease-in-out;
    -moz-transition: all 220ms ease-in-out;
    -o-transition: all 220ms ease-in-out;
    transition: all 220ms ease-in-out
}
section.work_together .email_circle:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2)
}
section.work_together .email_circle .icon-email {
    font-size: 30px;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    display: inline-block;
    position: relative;
    top: 8px;
    -webkit-transition: all 220ms ease-in-out;
    -moz-transition: all 220ms ease-in-out;
    -o-transition: all 220ms ease-in-out;
    transition: all 220ms ease-in-out
}
section.work_together .email_link {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    text-decoration: none;
    padding-bottom: 2px;
    -webkit-transition: all 220ms ease-in-out;
    -moz-transition: all 220ms ease-in-out;
    -o-transition: all 220ms ease-in-out;
    transition: all 220ms ease-in-out;
    border-bottom: 1px solid transparent
}
section.work_together .email_link:hover {
    border-bottom: 1px solid rgba(255, 255, 255, .2)
}
@media screen and (max-width: 420px) {
    section.work_together {
        padding-top: 80px;
        padding-bottom: 80px
    }
    section.work_together .container {
        padding-left: 20px;
        padding-right: 20px
    }
}
.footer {
    background: #fff;
    padding: 60px 0;
    text-align: center
}
.footer a {
    text-decoration: none;
    font-size: 24px;
    -webkit-transition: all 220ms ease-in-out;
    -moz-transition: all 220ms ease-in-out;
    -o-transition: all 220ms ease-in-out;
    transition: all 220ms ease-in-out
}
.footer a:hover {
    opacity: .7
}
.footer li {
    display: inline-block;
    margin: 0 18px;
    width: 30px;
    text-align: center
}
.footer li:first-child {
    margin-left: 10px
}
.footer .icon-facebook {
    color: #00acee
}
.footer .icon-instagram {
    color: #ea4c89
}
.footer .icon-email {
    color: #66527d
}
